<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Σχολή Οδηγών Καραθανάσης",
  "alternateName": "Karathanasis Driving School",
  "description": "Σχολή Οδηγών Καραθανάσης στην Τούμπα Θεσσαλονίκης – 30+ χρόνια εμπειρίας σε θεωρητική και πρακτική εκπαίδευση οδηγών.",
  "url": "https://monoid-is-a-monad.github.io",
  "telephone": "+30 693 725 8280",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Ανατολικής Θράκης 49",
    "addressLocality": "Θεσσαλονίκη",
    "addressRegion": "Κεντρική Μακεδονία",
    "postalCode": "54453",
    "addressCountry": "GR"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 40.6154,
    "longitude": 22.9720
  },
  "sameAs": [
    "https://www.facebook.com/KarathanasisAkis/about",
    "https://www.instagram.com/karathanasissxoliodigon/"
  ],
  "openingHours": "Mo-Fr 10:00-20:00"
}
</script>
